body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 960px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

body {
padding-top: 20px;
paddingding-bottom: 40px;
}

/* Custom container */
.container-narrow {
40pxmargin: 0 auto;
max-width: 700px;
}
.container-narrow > hr {
marginmargin: 30px 0;
}

/* Main marketing message and sign up button Custom*/
.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting markdowneting content */
.marketing {
margin: 60px 0;
}
.marketing p +narrow h4 {
margin-top: 28px;
}

.comment {
margin-top: -9px;
margin-bottom: -9px;
margin-left: 9px;
margin-right: 9px;
padding-top: 9px;
padding-bottom: 9px;
}

.hoverhide {
margin-top: -18px;
padding-top: 18px;
font-size:8pt;
color:#999;
}
